<!DOCTYPE html>
<html>
	<head>
		<!--our own css-->
		<link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css">
		
		<!--bootstrap cdn-->
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
	</head>

	<body>
		<!--html code goes here -->
		<div id="cont" class="container">
		
			<div id="titleBox" class="jumbotron">
				<h1 id="title">Information For a Job</h1>
			</div>
		
			<div id="navbar">
				<ul id="nav-link" class="nav nav-pills">
				  <li><a href="/dashboard">Dashboard</a></li>
				  <li><a href="/profile">Profile Settings</a></li>
			   	  <li class="active"><a href="/search">Search for a Job</a></li>
				  <li><a href="/admin">Admin Access</a></li>
				  <li><a href="/login">Logout</a></li>			  
				</ul><br>
			</div>
			
			<div id="outContainer">
				<div id="jobInfo-contactInfo" class="well span6">
					<h4><b>Contact Us</b></h4></br>
					Tel:
					<p id="tel"><%= jobInfo.tel %></p>
					Email:
					<p id="email"><%= jobInfo.email %></p>
				</div>

				<!-- <form id="resume" action="demo_form.asp">
					<input type="file" name="resume" accept=""></input>
					<input type="submit" onclick="upload()"></input>
				</form> -->

				<div id="jobInfo-inContainer" class="container-fluid well span6">
					<form id="resume" enctype="multipart/form-data" action=<%= '/upload/' + jobInfo._id %> method="post">
						<label for="pic">Attach Your Resume:</label>
						<input type="file" name="resume"></input>
						<button type="submit">Submit</button>
					</form>
					<div>
						<% for (var i = 0; i < uploadedResumes.length; i++) { %>
							<span style="margin-right: 5px"><%= uploadedResumes[i] %></span>
						<% } %>
					</div>
					<div id="details">
						<h4><b>Job Details</b></h4></br>
						Title:
						<P id="name"><%= jobInfo.title %></p></br></br>
						Description:
						<P id="description"><%= jobInfo.fullDesc %></p></br></br>
						Requirements:
						<P id="requirements"><%= jobInfo.reqSkills %></p></br></br>
						Compensation:
						<P id="compensation"><%= jobInfo.compensation %></p></br></br>
						Location:
						<P id="location"><%= jobInfo.location %></p></br></br>
						Length:
						<P id="length"><%= jobInfo.length %></p>
					</div>
				</div>
			</div>
		</div>
		
		<!--jquery cdn-->
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

		<script></script>
	</body>
</html>
